button {
  height: 100px;
  width: 100px;
  outline: none;
  margin: 20px;
  border: none;
  border-radius: 2px;
  background-color: black;
  animation-duration: 3s;
  animation-name: slidein;
}


button.current {
  box-shadow: 0 0 0 2px rgb(121, 24, 24),
    0 0 0 4px rgb(23, 168, 79);
}


/* @keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
} */