button {
    height: 50px;
    width: 500px;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 2px;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  
    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }
  }
  button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
  }
  